
gcs-bq-ingest/.classpath
gcs-bq-ingest/.project
gcs-bq-ingest/.settings/org.eclipse.core.resources.prefs
gcs-bq-ingest/.settings/org.eclipse.jdt.core.prefs
gcs-bq-ingest/.settings/org.eclipse.m2e.core.prefs
